////
/// Responsive utilities and mixins
////

$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1600px;

@mixin from-sm {
  @media screen and (min-width: $breakpoint-sm) { @content; }
}

@mixin from-md {
  @media screen and (min-width: $breakpoint-md) { @content; }
}

@mixin from-lg {
  @media screen and (min-width: $breakpoint-lg) { @content; }
}

@mixin from-xl {
  @media screen and (min-width: $breakpoint-xl) { @content; }
}

@mixin from-xxl {
  @media screen and (min-width: $breakpoint-xxl) { @content; }
}
