////
/// Typography definitions, variables and utilities.
////

/* Font Family Declaration
/* -------------------------------------------------------------------------- */
$font-family-primary: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-family-mono: "SFMono-Regular", "Fira Code", "Menlo", "Monaco", monospace;

/* Typography Definitions
/* -------------------------------------------------------------------------- */
html, body {
  font-size: 16px;
  font-family: $font-family-primary;
  line-height: 1.4;
}
