////
/// Homepage definitions.
////

/* Landing Hero
/* -------------------------------------------------------------------------- */
.landing-hero {
  background-color: $color-text;
  background-image: url('../img/landing-hero-bg.png');
  background-size: cover;
  min-height: 100vh;
  display: flex;
  align-items: center;
  text-align: center;
  color: white;
}

.landing-hero > .container {
  max-width: 720px;
}

.landing-hero__header {
  margin-bottom: $spacing-5;
}

.landing-hero__title {
  font-size: 36px;
  font-weight: 900;
  white-space: nowrap;
  margin-bottom: $spacing-3;
  
  @include from-md {
    font-size: 48px;
    margin-bottom: $spacing-4;
  }
}

.landing-hero__subtitle {
  font-size: 21px;
  font-weight: 300;
  margin-bottom: $spacing-3;

  @include from-md {
    font-size: 24px;
    margin-bottom: $spacing-4;
  }
}

.landing-hero__cli {
  max-width: 480px;
  margin: 0 auto $spacing-4;
}

.landing-hero__cta {
  display: flex;
  margin: 0 auto;
  max-width: 280px;
}

.landing-hero__cta > .btn {
  width: 100%;
}

.landing-hero__cta > .btn + .btn {
  margin-left: $spacing-2;
}


/* Landing Features
/* -------------------------------------------------------------------------- */
.landing-features {
  padding-top: 48px;
  @include from-md {
    padding-top: 150px;
  }
}

.landing-features-item {
  margin-bottom: 48px;
  @include from-md {
    margin-bottom: 120px;
  }
}

.landing-features-item__visual {
  display: block;
  margin: 0 auto $spacing-4;
  max-width: 240px;
  @include from-md {
    margin: 0 auto;
    max-width: 385px;
  }
}

.landing-features-item__subtitle {
  display: block;
  font-size: 14px;
  color: $color-text-l50;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  margin-bottom: $spacing-3;
}

.landing-features-item__title {
  font-size: 28px;
  color: $color-text;
  font-weight: 900;
  margin-bottom: $spacing-3;
  @include from-md {
    font-size: 36px;
  }
}

.landing-features-item__body {
  font-size: 18px;
  color: $color-text;
  padding-bottom: 48px;
  border-bottom: 1px solid rgb(230, 230, 230);

  @include from-md {
    font-size: 24px;
    padding-bottom: 0;
    border-bottom: 0;
  }
}


/* Landing Download
/* -------------------------------------------------------------------------- */
.landing-download {
  background-color: $color-primary;
  background-image: url('../img/landing-hero-bg.png');
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 100px;
  color: white;
}

.landing-download > .container {
  max-width: 720px;
}

.landing-download__title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: $spacing-4;
}

.landing-download__title h2 {
  font-size: 36px;
  font-weight: 900;
  margin-bottom: 0;
}

.landing-download__title .badge {
  background-color: white;
  color: $color-primary;
  margin-left: $spacing-3;
}

.landing-download__instructions {
  max-width: 540px;
  white-space: nowrap;
  margin: 0 auto $spacing-6;
}

.landing-download__cli {
  margin: 0 auto;
  max-width: 480px;
  margin-bottom: $spacing-6;
}

.landing-download__cli-copy {
  position: absolute;
  right: $spacing-4;
  top: 50%;
  transform: translateY(-50%);
}

.landing-download__disclaimers a {
  color: white;
  text-decoration: underline;
}